<% provide(:title, 'About') %>
<h1>About application or 'How it works'</h1>
<p>Все основное расписанно на <%= link_to "Home", root_path %> <br /></p>
<hr />
<p> Просто залогинтесь по данным из блока слева и посмотрите что там внутри.<br />
 Между представленными (в левом блоке) двумя пользователям налажена переписка так что Вы можете просмотреть их сообщения.</p>
<hr />
<p> Исходный код приложения <%= link_to "CustomerBase", "https://github.com/Konstanitn/CustomerBase.git" %> </p>
