<h1>Home of application "CustomerBase"</h1>
<p>Приложение "CustomerBase" является иммитацией инструмента для работы с базой заказчиков, оно позволяет пользователям - вносить в базу новых заказчиков - просматривать профили существующих, оставлять о них отметки в профилях и вести переписку с другими пользователями приложения </p>
<hr />
<p>В программе реализованны функции:<br />
- создание, правка, изменение прав доступа пользователей (только пользователи Admin)<br />
- добавление, просмотр, правка профилей заказчиков (или Manager или Admin)<br />
- поиск заказчиков (из формы на странице All customers)<br />
- авторизация пользователей с хешифрованными парлолями и поддержание сессиии (Manager - сессия держиться до выхода ссамим пользователем, Admin держиться 1 час либо до прямого выхода пользователя через кнопку "Sign out")<br />
- возможность отправки, получения, и ответа на сообщения других пользователей (через пункт меню Action -> All Users -> Send message или My meesages</p><br />
<hr />
<p>В данном приложении реализованны со стороны Ruby on Rails:<br />
	Модели: <br />
	User -  модель пользователей в которой по правам доступа различаются два класса	Admin и Manager. <br />
	Customer - модель заказчиков. <br />
	Message - модель сообщений, которая позволяет вести переписку между 			пользователями. <br />
Контроллеры: <br />
	UsersController - контроллер пользователей.<br />
	SessionsController - контроллеер сессий.<br />
	CustomersController и MessagesController - контроллеры заказчиков и соообщений соответсвенною <br /> 
	Представления - соответсвенно действиям контроллеров.<br />
<hr />
<p> Тесты:<br />
	Из-за отсутствия времени тестов написано мало:<br />
	1. Тест на статически страницы и ссылки на них.<br />
	2. Тест модели User.<br />
	3. Тест на часть страниц User.<br />
</p>
<hr />
<p> Между представленными (в левом блоке) двумя пользователям налажена переписка так что Вы можете просмотреть их сообщения.</p>
<hr />
<p> Исходный код приложения <%= link_to "CustomerBase", "https://github.com/Konstanitn/CustomerBase.git" %> </p>

